@charset "utf-8";
img{vertical-align: top;}
a{text-decoration: none;}
.clearfix:after{
	content: "";
	display:block;
	clear: both;
}


.gWidth{
	width: 1005px;
	margin-left: auto;
	margin-right: auto;
}
